[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
wtforms = "*"
werkzeug = "*"
flask-login = "*"

[requires]
python_version = "3.7"

[dev-packages]
