*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.showcase {
  background-color: white;
  overflow: hidden; 
  color: black;
 }
 .link a {
   color: red;
 }
 .texta{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   font-size: 20px;
 }
 .logout ul li a{
   text-align: right;
 }
 .abouttext{
   font-style: italic;
  color: darkmagenta;
  }
  .picture{
    height: 150px;
    width: 120px;
  }
 .center{
   text-align: center;
 } 

body {
  font-family: Arial, Helvetica, sans-serif;
}
.mainbanner{
  text-align: center;
}
.sidebar{
  position: relative;
  float: left;
  left: 0;
  width: 200px;
  height: 420px;
  background:darkmagenta;
  }
  .sidebar ul li {
    list-style: square;
    cursor: pointer;
  }
.sidebar header{
  font-size: 22px;
  color: black;
  background-color:white;
  text-align: center;
  line-height: 70px;
  user-select: none;
 
}
.sidebar ul a {
  
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
color:white;
padding-left: 1px;
box-sizing: border-box;
transition: .4s;
}
.sidebar ul li:hover a {
  padding-left: 50px;
  }
  
.banner{
  width: 150px;
  height: 120px;
}
 .banner2{
   width: 120px;
   height: 90px;
 } 
 .maintext{
   font-size: 35px;
   font-family: cursive;
 }
.menu{
  background-color:black;
  width: 100%;
  height: 40px;
  overflow: hidden;
}


.toptitle{
  background-color:white;
  overflow: hidden;
  height: 90px;
}
.toptitle ul li{
  list-style: none;
}
.toptitle ul {
  display: inline-flex;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover{
  color:rgb(255, 91, 255);
  
}
.menu ul {
 
  display: inline-flex;
}

.menu  ul li {
  list-style: none;
  margin: 0 10px;
  color: white;
  cursor: pointer;
}
.menubar{
  background:darkmagenta;
  text-align: center;
}
 .menubar ul{
   display: inline-flex;
   list-style: none;
   color: black;
 }
 .menubar ul li {
   width: 100px;
   margin: 10px;
   padding: 10px;
 }
 .menubar ul li a {
   text-decoration: none;
   color: black;
 }
 .active, .menubar ul li:hover{
   background: white;
   border-radius: 2px;
  }
  .submenu{
    display: none;
  }
  .menubar ul li:hover .submenu
  {
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;

  }
  .menubar ul li:hover .submenu ul{
    display: block;
    margin: 10px;
  }
  .menubar ul li:hover .submenu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }
  .menubar ul li:hover .submenu ul li a:hover{
    color: darkmagenta;
  }
.form22{
  display: inline flex;
  background-color: darkmagenta;
  overflow: hidden;
 }
 .formsss{
   text-align: center;
 }

.form2{
  display: inline flex;
  background-color: darkmagenta;
  overflow: hidden;
  text-align: center;
}
 .menuu{
   background-color: black;
   text-align: center;
   overflow: hidden;
 }
 .join{
   color: black;
   font-weight: bolder;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .join a {
   color: darkmagenta;
 }
footer {
  background-color: black;
  text-align:center;
  color: white;
}
