<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   <meta charset="UTF-8">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjx.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Trotro Live</title>
</head>
<body>
   <header>
      <br>
     <div class="toptitle">
        <ul>
      <li>  <img class="banner2" src="{{ url_for('static', filename='images/logomod.png') }}"></li>
   
      <li><h4 class ="maintext" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px; padding-top: 27px">TROTRO LIVE</h4></li>
   
</ul>
</div>
<h5><marquee>The future is great with science and data </marquee></h5>
      
   <div class="menubar">
      <ul>
         <li class="active"><a href="/">Home</a></li>
         <li><a href="#">About Us</a>
         <div class="submenu">
            <ul>
               <li><a href="/company">Company Info</a></li>
               <li><a href="/team">Meet The Team</a></li>
               <li><a href="#">Contact Info</a></li>
            </ul>
         </div>
      </li>
      <li><a href="#">Trotro Dairies
      </a>
      <div class="submenu">
         <ul>
            <li><a href="/member">Member Page</a></li>
            <li><a href="#">General Travel</a></li>
            <li><a href="#">Health Concerns</a></li>
            <li><a href="#">Safety Measures</a></li>
            <li><a href="#">FAQs</a></li>
         </ul>
      </div>
   </li>
   </ul>
</div>
</header>
<div></div>
<div class="showcase">
<br>
   <h5 style="text-align: center;">Wondering the cost of transport from anywhere in the country?</h5>
   <div class="mainbanner"> 
      <img src="{{ url_for('static', filename='images/wondering.jpeg') }}" class="banner" style="width: 100%; height: 100%;">
  </div>
</div>
<br>



<div class="join">
    Join Us today!!
    <a href="signup" class="signup-btn"><span>Sign Up</span></a>

<br>

    Already a member?
<a href="login" class="login-btn"><span>Log In</span></a>
<br>
</div>

<div class="mainbanner"> 
    <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="banner">
</div>



<div class="form22">
   <h5>Find the cost of your next journey now!!</h5>
   <br>
   <h3 style="color: red;">{{same}}</h3>

   <div>  
      {% for singlefar in singlefare %} 
      <h3>Fare from {{ src }} to {{ dest }} is: </h3>         
      <b><h2 style="color: green;">GH₵ {{ singlefar.fare }}0 p {{ singlefar.transit }}</h2></b>
      {% endfor %}
   </div>
   <br>
   </div>

   <div class="center"></div>
   <div class="form22">
    <div><a href="/">WRONG PROVIDENCE?</a></div>
    <br>
    <form action="/search" method="POST">
    
    <label for='src'>From : </label>
    <select id='src' name="src">
      <option value="+2Pub">+2Pub</option>
      <option value="A Line">A Line</option>
      <option value="Aboabo">Aboabo</option>
      <option value="Aboahu">Aboahu</option>
      <option value="Abono">Abono</option>
      <option value="Aboude TUC">Aboude TUC</option>
      <option value="Abrepo">Abrepo</option>
      <option value="Abrepo Junction">Abrepo Junction</option>
      <option value="Abuakwa">Abuakwa</option>
      <option value="Adjemasu">Adjemasu</option>
      <option value="Adum">Adum</option>
      <option value="Adwaase New site">Adwaase New site</option>
      <option value="Afful Nkwanta">Afful Nkwanta</option>
      <option value="Ahenema Kokoben">Ahenema Kokoben</option>
      <option value="Ahiaw Nkwanta">Ahiaw Nkwanta</option>
      <option value="Ahinsan">Ahinsan</option>
      <option value="Ahinsan Market">Ahinsan Market</option>
      <option value="Ahinsan,Bus Stop">Ahinsan,Bus Stop</option>
      <option value="Ahodwo">Ahodwo</option>
      <option value="Ahodwo Melcom">Ahodwo Melcom</option>
      <option value="Ahodwo Roundabout">Ahodwo Roundabout</option>
      <option value="Ahodwo Station">Ahodwo Station</option>
      <option value="Ahwia">Ahwia</option>
      <option value="Ahwia Nkwanta">Ahwia Nkwanta</option>
      <option value="Akoko Spears">Akoko Spears</option>
      <option value="Amakom">Amakom</option>
      <option value="Amanfrom">Amanfrom</option>
      <option value="Ampabame(Sokoban)">Ampabame(Sokoban)</option>
      <option value="Ampayoo">Ampayoo</option>
      <option value="Anloga Junction">Anloga Junction</option>
      <option value="Anwia Nkwanta">Anwia Nkwanta</option>
      <option value="Appiadu">Appiadu</option>
      <option value="Appiadu Kokoben">Appiadu Kokoben</option>
      <option value="Aprabo">Aprabo</option>
      <option value="Aputuogya">Aputuogya</option>
      <option value="Asafo">Asafo</option>
      <option value="Asafo, Labour">Asafo, Labour</option>
      <option value="Asamang">Asamang</option>
      <option value="Asante Bekwai">Asante Bekwai</option>
      <option value="Asokwa">Asokwa</option>
      <option value="Asokwa, City Mall">Asokwa, City Mall</option>
      <option value="Asuofia">Asuofia</option>
      <option value="Asuofua">Asuofua</option>
      <option value="Asuoyeboa">Asuoyeboa</option>
      <option value="Atafoa">Atafoa</option>
      <option value="Atasomanso">Atasomanso</option>
      <option value="Atinga Junction">Atinga Junction</option>
      <option value="Atonsu">Atonsu</option>
      <option value="Atonsu Agogo">Atonsu Agogo</option>
      <option value="Atonsu Bokro Ako Junction">Atonsu Bokro Ako Junction</option>
      <option value="Atonsu Bokro Last Stop">Atonsu Bokro Last Stop</option>
      <option value="Atonsu, Agogo">Atonsu, Agogo</option>
      <option value="Atonsu, Ako Junction">Atonsu, Ako Junction</option>
      <option value="Atonsu, Bokro Ako Junction">Atonsu, Bokro Ako Junction</option>
      <option value="Atonsu, Bokro Last Stop">Atonsu, Bokro Last Stop</option>
      <option value="Atonsu, High School">Atonsu, High School</option>
      <option value="Atonsu, High School Junction">Atonsu, High School Junction</option>
      <option value="Atonsu, High Scool">Atonsu, High Scool</option>
      <option value="Atonsu, Monanco">Atonsu, Monanco</option>
      <option value="Atonsu,Agogo">Atonsu,Agogo</option>
      <option value="Atonsu,Monanco">Atonsu,Monanco</option>
      <option value="Ayeduase">Ayeduase</option>
      <option value="Baba Yara Sports Stadium">Baba Yara Sports Stadium</option>
      <option value="Bantama">Bantama</option>
      <option value="BarNas">BarNas</option>
      <option value="Bekwai">Bekwai</option>
      <option value="Bekwai Roundabout">Bekwai Roundabout</option>
      <option value="Boadi">Boadi</option>
      <option value="Bofoyedur">Bofoyedur</option>
      <option value="Bohyen">Bohyen</option>
      <option value="Bokro">Bokro</option>
      <option value="Brewery">Brewery</option>
      <option value="Brofoyedur">Brofoyedur</option>
      <option value="Buokrom">Buokrom</option>
      <option value="County Hospital">County Hospital</option>
      <option value="Daban">Daban</option>
      <option value="Dakwadwom">Dakwadwom</option>
      <option value="Deduako">Deduako</option>
      <option value="Dichems">Dichems</option>
      <option value="Dichemso">Dichemso</option>
      <option value="Dominase">Dominase</option>
      <option value="Dompoase Aprabo">Dompoase Aprabo</option>
      <option value="Donyinah">Donyinah</option>
      <option value="Ejisu">Ejisu</option>
      <option value="Emina">Emina</option>
      <option value="Esreso">Esreso</option>
      <option value="F Line">F Line</option>
      <option value="Feyiase Kokoben">Feyiase Kokoben</option>
      <option value="Foese Kokoben">Foese Kokoben</option>
      <option value="Guinness Brewery">Guinness Brewery</option>
      <option value="Gyinase">Gyinase</option>
      <option value="IPT">IPT</option>
      <option value="Jachie">Jachie</option>
      <option value="Kaase">Kaase</option>
      <option value="Kahuro">Kahuro</option>
      <option value="Kejetia">Kejetia</option>
      <option value="Kejetia, Roman Hill">Kejetia, Roman Hill</option>
      <option value="Kejetia, Roman Hills">Kejetia, Roman Hills</option>
      <option value="Kokofu">Kokofu</option>
      <option value="Kotei">Kotei</option>
      <option value="Kotwi">Kotwi</option>
      <option value="Kroform">Kroform</option>
      <option value="Krofrom">Krofrom</option>
      <option value="Krofrom (New Tafo)">Krofrom (New Tafo)</option>
      <option value="Krofrom Sokoban Road">Krofrom Sokoban Road</option>
      <option value="Krofrom(New Tafo)">Krofrom(New Tafo)</option>
      <option value="Kumasi Aiport Roundabout">Kumasi Aiport Roundabout</option>
      <option value="Kumasi Airport Rounabout">Kumasi Airport Rounabout</option>
      <option value="Kumasi Airport Roundabout">Kumasi Airport Roundabout</option>
      <option value="Kumasi Girls School">Kumasi Girls School</option>
      <option value="Kumasi UEW">Kumasi UEW</option>
      <option value="Kutenase">Kutenase</option>
      <option value="Kuwait">Kuwait</option>
      <option value="Kwadaso">Kwadaso</option>
      <option value="Kwadaso IPT">Kwadaso IPT</option>
      <option value="Kwadwo">Kwadwo</option>
      <option value="Maakro">Maakro</option>
      <option value="Mamponteng">Mamponteng</option>
      <option value="Mayanka">Mayanka</option>
      <option value="Medoma">Medoma</option>
      <option value="Nahinso">Nahinso</option>
      <option value="Nana Appiah">Nana Appiah</option>
      <option value="Nkronsa">Nkronsa</option>
      <option value="Nkronsah">Nkronsah</option>
      <option value="Oforikrom">Oforikrom</option>
      <option value="Ohwim">Ohwim</option>
      <option value="Opoku Ware School">Opoku Ware School</option>
      <option value="Ownien">Ownien</option>
      <option value="Patasi">Patasi</option>
      <option value="Pekyi 1">Pekyi 1</option>
      <option value="Pekyi 2">Pekyi 2</option>
      <option value="Pekyi N01">Pekyi N01</option>
      <option value="Pekyi N02">Pekyi N02</option>
      <option value="Ramseyer">Ramseyer</option>
      <option value="Santasi">Santasi</option>
      <option value="Santasi Roundabout">Santasi Roundabout</option>
      <option value="Sofoline">Sofoline</option>
      <option value="Sokoban">Sokoban</option>
      <option value="St Abed">St Abed</option>
      <option value="Star Junction">Star Junction</option>
      <option value="Suame Rounabout">Suame Rounabout</option>
      <option value="Suame Roundabout">Suame Roundabout</option>
      <option value="Suame, Magazine">Suame, Magazine</option>
      <option value="Susuanso">Susuanso</option>
      <option value="Susuaso">Susuaso</option>
      <option value="Tafo">Tafo</option>
      <option value="Tanoso">Tanoso</option>
      <option value="Tech">Tech</option>
      <option value="Tech Junction">Tech Junction</option>
      <option value="Trede">Trede</option>
      <option value="TUC">TUC</option>
      </select>
    <label for='dest'>To :</label>
    <select id='dest' name="dest">
      <option value="+2Pub">+2Pub</option>
      <option value="A Line">A Line</option>
      <option value="Aboabo">Aboabo</option>
      <option value="Aboahu">Aboahu</option>
      <option value="Abono">Abono</option>
      <option value="Aboude TUC">Aboude TUC</option>
      <option value="Abrepo">Abrepo</option>
      <option value="Abrepo Junction">Abrepo Junction</option>
      <option value="Abuakwa">Abuakwa</option>
      <option value="Adjemasu">Adjemasu</option>
      <option value="Adum">Adum</option>
      <option value="Adwaase New site">Adwaase New site</option>
      <option value="Afful Nkwanta">Afful Nkwanta</option>
      <option value="Ahenema Kokoben">Ahenema Kokoben</option>
      <option value="Ahiaw Nkwanta">Ahiaw Nkwanta</option>
      <option value="Ahinsan">Ahinsan</option>
      <option value="Ahinsan Market">Ahinsan Market</option>
      <option value="Ahinsan,Bus Stop">Ahinsan,Bus Stop</option>
      <option value="Ahodwo">Ahodwo</option>
      <option value="Ahodwo Melcom">Ahodwo Melcom</option>
      <option value="Ahodwo Roundabout">Ahodwo Roundabout</option>
      <option value="Ahodwo Station">Ahodwo Station</option>
      <option value="Ahwia">Ahwia</option>
      <option value="Ahwia Nkwanta">Ahwia Nkwanta</option>
      <option value="Akoko Spears">Akoko Spears</option>
      <option value="Amakom">Amakom</option>
      <option value="Amanfrom">Amanfrom</option>
      <option value="Ampabame(Sokoban)">Ampabame(Sokoban)</option>
      <option value="Ampayoo">Ampayoo</option>
      <option value="Anloga Junction">Anloga Junction</option>
      <option value="Anwia Nkwanta">Anwia Nkwanta</option>
      <option value="Appiadu">Appiadu</option>
      <option value="Appiadu Kokoben">Appiadu Kokoben</option>
      <option value="Aprabo">Aprabo</option>
      <option value="Aputuogya">Aputuogya</option>
      <option value="Asafo">Asafo</option>
      <option value="Asafo, Labour">Asafo, Labour</option>
      <option value="Asamang">Asamang</option>
      <option value="Asante Bekwai">Asante Bekwai</option>
      <option value="Asokwa">Asokwa</option>
      <option value="Asokwa, City Mall">Asokwa, City Mall</option>
      <option value="Asuofia">Asuofia</option>
      <option value="Asuofua">Asuofua</option>
      <option value="Asuoyeboa">Asuoyeboa</option>
      <option value="Atafoa">Atafoa</option>
      <option value="Atasomanso">Atasomanso</option>
      <option value="Atinga Junction">Atinga Junction</option>
      <option value="Atonsu">Atonsu</option>
      <option value="Atonsu Agogo">Atonsu Agogo</option>
      <option value="Atonsu Bokro Ako Junction">Atonsu Bokro Ako Junction</option>
      <option value="Atonsu Bokro Last Stop">Atonsu Bokro Last Stop</option>
      <option value="Atonsu, Agogo">Atonsu, Agogo</option>
      <option value="Atonsu, Ako Junction">Atonsu, Ako Junction</option>
      <option value="Atonsu, Bokro Ako Junction">Atonsu, Bokro Ako Junction</option>
      <option value="Atonsu, Bokro Last Stop">Atonsu, Bokro Last Stop</option>
      <option value="Atonsu, High School">Atonsu, High School</option>
      <option value="Atonsu, High School Junction">Atonsu, High School Junction</option>
      <option value="Atonsu, High Scool">Atonsu, High Scool</option>
      <option value="Atonsu, Monanco">Atonsu, Monanco</option>
      <option value="Atonsu,Agogo">Atonsu,Agogo</option>
      <option value="Atonsu,Monanco">Atonsu,Monanco</option>
      <option value="Ayeduase">Ayeduase</option>
      <option value="Baba Yara Sports Stadium">Baba Yara Sports Stadium</option>
      <option value="Bantama">Bantama</option>
      <option value="BarNas">BarNas</option>
      <option value="Bekwai">Bekwai</option>
      <option value="Bekwai Roundabout">Bekwai Roundabout</option>
      <option value="Boadi">Boadi</option>
      <option value="Bofoyedur">Bofoyedur</option>
      <option value="Bohyen">Bohyen</option>
      <option value="Bokro">Bokro</option>
      <option value="Brewery">Brewery</option>
      <option value="Brofoyedur">Brofoyedur</option>
      <option value="Buokrom">Buokrom</option>
      <option value="County Hospital">County Hospital</option>
      <option value="Daban">Daban</option>
      <option value="Dakwadwom">Dakwadwom</option>
      <option value="Deduako">Deduako</option>
      <option value="Dichems">Dichems</option>
      <option value="Dichemso">Dichemso</option>
      <option value="Dominase">Dominase</option>
      <option value="Dompoase Aprabo">Dompoase Aprabo</option>
      <option value="Donyinah">Donyinah</option>
      <option value="Ejisu">Ejisu</option>
      <option value="Emina">Emina</option>
      <option value="Esreso">Esreso</option>
      <option value="F Line">F Line</option>
      <option value="Feyiase Kokoben">Feyiase Kokoben</option>
      <option value="Foese Kokoben">Foese Kokoben</option>
      <option value="Guinness Brewery">Guinness Brewery</option>
      <option value="Gyinase">Gyinase</option>
      <option value="IPT">IPT</option>
      <option value="Jachie">Jachie</option>
      <option value="Kaase">Kaase</option>
      <option value="Kahuro">Kahuro</option>
      <option value="Kejetia">Kejetia</option>
      <option value="Kejetia, Roman Hill">Kejetia, Roman Hill</option>
      <option value="Kejetia, Roman Hills">Kejetia, Roman Hills</option>
      <option value="Kokofu">Kokofu</option>
      <option value="Kotei">Kotei</option>
      <option value="Kotwi">Kotwi</option>
      <option value="Kroform">Kroform</option>
      <option value="Krofrom">Krofrom</option>
      <option value="Krofrom (New Tafo)">Krofrom (New Tafo)</option>
      <option value="Krofrom Sokoban Road">Krofrom Sokoban Road</option>
      <option value="Krofrom(New Tafo)">Krofrom(New Tafo)</option>
      <option value="Kumasi Aiport Roundabout">Kumasi Aiport Roundabout</option>
      <option value="Kumasi Airport Rounabout">Kumasi Airport Rounabout</option>
      <option value="Kumasi Airport Roundabout">Kumasi Airport Roundabout</option>
      <option value="Kumasi Girls School">Kumasi Girls School</option>
      <option value="Kumasi UEW">Kumasi UEW</option>
      <option value="Kutenase">Kutenase</option>
      <option value="Kuwait">Kuwait</option>
      <option value="Kwadaso">Kwadaso</option>
      <option value="Kwadaso IPT">Kwadaso IPT</option>
      <option value="Kwadwo">Kwadwo</option>
      <option value="Maakro">Maakro</option>
      <option value="Mamponteng">Mamponteng</option>
      <option value="Mayanka">Mayanka</option>
      <option value="Medoma">Medoma</option>
      <option value="Nahinso">Nahinso</option>
      <option value="Nana Appiah">Nana Appiah</option>
      <option value="Nkronsa">Nkronsa</option>
      <option value="Nkronsah">Nkronsah</option>
      <option value="Oforikrom">Oforikrom</option>
      <option value="Ohwim">Ohwim</option>
      <option value="Opoku Ware School">Opoku Ware School</option>
      <option value="Ownien">Ownien</option>
      <option value="Patasi">Patasi</option>
      <option value="Pekyi 1">Pekyi 1</option>
      <option value="Pekyi 2">Pekyi 2</option>
      <option value="Pekyi N01">Pekyi N01</option>
      <option value="Pekyi N02">Pekyi N02</option>
      <option value="Ramseyer">Ramseyer</option>
      <option value="Santasi">Santasi</option>
      <option value="Santasi Roundabout">Santasi Roundabout</option>
      <option value="Sofoline">Sofoline</option>
      <option value="Sokoban">Sokoban</option>
      <option value="St Abed">St Abed</option>
      <option value="Star Junction">Star Junction</option>
      <option value="Suame Rounabout">Suame Rounabout</option>
      <option value="Suame Roundabout">Suame Roundabout</option>
      <option value="Suame, Magazine">Suame, Magazine</option>
      <option value="Susuanso">Susuanso</option>
      <option value="Susuaso">Susuaso</option>
      <option value="Tafo">Tafo</option>
      <option value="Tanoso">Tanoso</option>
      <option value="Tech">Tech</option>
      <option value="Tech Junction">Tech Junction</option>
      <option value="Trede">Trede</option>
      <option value="TUC">TUC</option>
      </select>

    <input type="submit", value="Search">
    <br>
    </form>
    <br>

   <a href="/suggest">Fare not included? Suggest A fare now</a>
   
   <br>
</div>
<br><br><br>
<footer> 
<br>
<p>Copyright &copy; 2020 Trotro Live Ltd . <a href="company.html">Company Information</a></p>
<p2><a href="privacy.html">Privacy Terms</a></p2>
<br>
</footer>


</body>
</html>
