<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
   <meta charset="UTF-8">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjx.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Trotro Live</title>
</head>
<body>
   <header>
      <br>
     <div class="toptitle">
        <ul>
      <li>  <img class="banner2" src="{{ url_for('static', filename='images/logomod.png') }}"></li>
   
      <li><h4 class ="maintext" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px; padding-top: 27px">TROTRO LIVE</h4></li>
   
</ul>
</div>
<h5><marquee>The future is great with science and data </marquee></h5>
      
   <div class="menubar">
      <ul>
         <li ><a href="/">Home</a></li>
         <li><a href="#">About Us</a>
         <div class="submenu">
            <ul>
               <li><a href="/company">Company Info</a></li>
               <li><a href="/team">Meet The Team</a></li>
               <li><a href="#">Contact Info</a></li>
            </ul>
         </div>
      </li>
      <li><a href="#">Trotro Dairies
      </a>
      <div class="submenu">
         <ul>
            <li><a href="/member">Member Page</a></li>
            <li><a href="#">General Travel</a></li>
            <li><a href="#">Health Concerns</a></li>
            <li><a href="#">Safety Measures</a></li>
            <li><a href="#">FAQs</a></li>
         </ul>
      </div>
   </li>
   </ul>
</div>

<br>


<div class="mainbanner"> 
  <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="banner">
  </div>
  </header>
  <div class="formsss">
    {% if error %}
         <p><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="signup" method="POST" name="form">
      <div>
        <label>Email*</label>
        <input type="email" name="email" id="email">
      </div>
      <br>
      <div>
        <label>First Name*</label>
        <input type="text" name="fname" id="fname">
      </div>
      <br>
      <div>
        <label>Last Name*</label>
        <input type="text" name="lname" id="lname">
      </div>
      <br>
      <div>
        <label>Phone Number*</label>
        <input type="number" name="phonenum" id="phonenum">
      </div>
      <br>
      <div>
        <label>Digital Address</label>
        <input type="text" name="digitaladd" id="digitaladd">
      </div>
      <br>
      <div>
        <label>Gender*</label>
        <select name="gender"> 
          <option value="male" id="gender">Male</option>
          <option value="female" id="gender">Female</option>
          <option value="other" id="gender">Other</option>
        </select>
      </div>
      <br>

      <div>
        <label>Date of Birth*</label>
        <input type="date" name="dob" id="dob">
      </div>
      <br>
      <div>
        <label>Set Password*</label>
        <input type="password" name="password" id="password">
      </div>
      <br>
      <div>
        <label>Repeat Password*</label>
        <input type="password" name="repassword" id="repassword">
      </div>
      <br>
      <input type="submit" value="Submit">
    </form>
</div>
  <br><br><br>

  <footer>
    
    <p>Copyright &copy; 2020 Trotro Live Ltd . <a href="/company">Company Information</a></p>
    <p2><a href="/privacy">Privacy Terms</a></p2>
  </footer>
</body>
</html>