<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
</head>
<body>
   <header>
      <div class="toptitle">
         <ul>
       <li>  <img class="banner2" src="{{ url_for('static', filename='images/logomod.png') }}"></li>
    
       <li><h2 class ="maintext" >Trotro Live</h2></li>
    
 </ul>
 </div>
       
   <div class="menubar">
      <ul>
         <li class="active"><a href="/">Home</a></li>
         <li><a href="#">About Us</a>
         <div class="submenu">
            <ul>
               <li><a href="/company">Company Info</a></li>
               <li><a href="/team">Meet The Team</a></li>
            </ul>
         </div>
      </li>
         <li><a href="/member">My Page</a></li>
         <li><a href="#">Travel Tips</a>
         <div class="submenu">
            <ul>
               <li><a href="#">General Travel</a></li>
               <li><a href="#">Health Concerns</a></li>
               <li><a href="#">Safety Measures</a></li>
               <li><a href="#">FAQs</a></li>
            </ul>
         </div>
      </li>
         <li><a href="#">Customer Service</a>
         <div class="submenu">
            <ul>
               <li><a href="/team">Chat Us</a></li>
               <li><a href="/report">Report Missing Items</a></li>
            </ul>
         </div>
      </li>
      </ul>
   </div>
  <div class="mainbanner"> 
  <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="banner">
  </div>
    </header>

<div class="abouttext">
   <img class="picture" src="{{ url_for('static', filename='images/worae.jpg') }}">
   <h3>Akwasi Adjei Worae, ENTREPRENEUR</h3>
   <p>I joined this firm because I believe in technological 
      transformation and thus with this web/app, 
      later in the years our country will be a better place 
      because this application will be everyone's friend.</p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/bilson.jpg') }}">
   <h3>Bilson Donkor, ENTREPRENEUR AND SALES CONSULTANT</h3>
   <p>TrotroLive is the future of Ghana's logistics system because of it's convenience and simplicity</p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/godfred.jpg') }}">
   <h3>Godfred Addai Amoako, DATA SCIENTIST</h3>
   <p> My daily routine cannot exclude my trotro trips; sometimes the minivans conductors and passengers do not get along because of cheating so we collected big data and transforming the original trotro digitally and physically.</p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/woode.jpg') }}">
   <h3>Emmanuel Woode, MECHANICAL ENGINEERING STUDENT; KNUST</h3>
   <p> The reason why I participated in the creation of this app was to help gather information about public transits and it's required fares. I am absolutely sure that this app will help stranded visitors to locate transit stations and know their transportation fees.</p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/adamu.jpg') }}">
   <h3>Ibrahim Adamu, MODEL AND NURSE</h3>
   <p>I have no skills in technology but I am a pivot to all the systems. I had to go to the trotro stations themselves and get the raw data. I am not yet done, I know there is a long way to the future of Trotro.Live.  </p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/gideon.jpg') }}">
   <h3>Gideon Botwe, GRAPHIC DESIGNER</h3>
   <p>Charlie, every penny counts. I do not want any wahala with any trotro mate if there is an increment in fare prices or I travel to a place where I do not know the fare. Brainstorming with the team,I created this marvellous logo. </p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/ekow.jpg') }}">
   <h3>Andy Ekow Mensah, PYTHON DEVELOPER</h3>
   <p>I just see every world problem as a programming challenge, which I would like to help solve. Finding the right trotro fare is one of these problems and can be solved by writing just the right code.</p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/kwame.jpg') }}">
   <h3>Kwame Rationale, VOLUNTEER</h3>
   <p>Everyone uses trotro, and as a regular user my ideas matters to the team.</p>
   <hr><br>
   <img class="picture" src="{{ url_for('static', filename='images/adonis.jpg') }}">
   <h3>Adonis Simon, PROMOTER</h3>
   <p>I believe this app is going to make an outstanding change for the local transportation business and for the people at large. It is going to make us well budgeted and I believe is the only locally made app created to provide local transportation information</p>
   <hr>
   <br>
   <img class="picture" src="{{ url_for('static', filename='images/samantwi.jpg') }}">
   <h3>Samuel Antwi Oteng, FASHION DESIGNER</h3>
   <p>You do not need to climb a mountain to see the star</p>
   <hr>
   <br>
   <img class="picture" src="{{ url_for('static', filename='images/lizzie.jpg') }}">
   <h3>Nartey Elizabeth-Lynda, FRONT-END DEVELOPER/STUDENT</h3>
   <p>Being a part of this team has been an amazing opportunity to learn and unearth basic user interface designs. Trotro.Live is a smart way of pushing the country a pace further in Science and technology.</p>
   <br><br>
</div>





    <footer> 
 <p>Copyright &copy; 2020 Trotro Live Ltd . <a href="company.html">Company Information</a></p>
 <p2><a href="privacy.html">Privacy Terms</a></p2>

</footer>
</body>
</html>